@model hairdresserEntity

<div class="containerAdminHair">
    <form method="post" asp-action="EditHairdresser">
        <input asp-for="id_hairdresser" hidden/>
        <div class="bordered spaceIn  rounded size backgroundColor  twoGrid">
            <div class="posCenter">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <h2 class="text-black">Edit Hairdresser</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label asp-for="name">Name:</label>
                        <input required asp-for="name" class="form-control zweiHundert"/>
                        <span asp-validation-for="name"></span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                        <label asp-for="lastname"></label>
                        <input required asp-for="lastname" class="form-control zweiHundert"/>
                        <span asp-validation-for="lastname"></span>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-4">
                        <label asp-for="email"></label>
                        <input required asp-for="email" class="form-control zweiHundert"/>
                        <span asp-validation-for="email"></span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-4">
                                        <label asp-for="gender"></label>
                                        <input required asp-for="gender" class="form-control zweiHundert"/>
                                        <span asp-validation-for="gender"></span>
                                    </div>
                                </div>
                <br/>
                <div class="row">
                    
                    <label class="data">Is Working <input asp-for="is_working" type="checkbox" /></label>
                    
                </div>
                <div class="row">
                    <label asp-for="startTime"></label>
                                       <input required="" asp-for="startTime" class="form-control zweiHundert"/>
                                       <span asp-validation-for="startTime"></span>
                    <br/>
                    <label asp-for="endTime"></label>
                                       <input asp-for="endTime" type="time" class="form-control" value="endTime" />
                                       <span asp-validation-for="endTime"></span>
                  
                </div>
                <br/>
                <div class="row">
                    <div class="w-12 btn-group" role="group">
                        <input type="submit" class="btn btn-primary mx-1 twoButtons">
                        <a asp-action="Hairdressers" class="btn btn-primary twoButtons">Back to List</a>
                    </div>
                </div>
            </div>
            

            <div class="rightSide posCenter">
                <img class="image600" src="~/Img/styles.webp" alt="styles">
                <a asp-action="Styles" class="btn btn-primary">Edit styles</a>
            </div>
        </div>
        
    </form>
</div>


