@model IEnumerable<haircutEntity>
<div class="posCenter">
    <div class="selectStyles rouded backgroundColor">
        <h2>Styles Hairdresser knows</h2>
        <br/>
    <form asp-action="Styles" method="post">
            <select name="selectedStyle">
                @foreach (var style in Model)
                {
                    <option value="@style.id_haircut">@style.style</option>
                }
            </select>
            <br />
            <button type="submit">Submit</button>
        </form>
     
    </div>
</div>