<div class="containerIndex">
    <div class="statistics">
        <div class="daily">
            <h3>Zasedeni termini danes:</h3>
            <p>3</p>
        </div>
        <div class="weekly">
            <h3>Zasedeni termini ta teden:</h3>
            <p>15</p>
        </div>
        <div class="monthly">
            <h3>Zasedeni termini ta mesec:</h3>
            <p>50</p>
        </div>
        <div class="schedule">
            <img src="Img/ProstiDan.webp" alt="Hairdresser">
            <a asp-action="DaysOff">Days Off</a>
        </div>
    </div>
    <div class="appointments">
         <div class="appointment-card">
            <h4>12:00 PM - 12:30 PM</h4>
            <p>Custommer: Janez Novak</p>
             <p>Hairstyle: Striženje</p>
             <button class="remove-button">
                 Remove Appointment
             </button>
          </div>
        <div class="appointment-card">
            <h4>12:00 PM - 12:30 PM</h4>
            <p>Custommer: Janez Novak</p>
            <p>Hairstyle: Striženje</p>
            <button class="remove-button">
                Remove Appointment
            </button>
        </div>
        <div class="appointment-card">
            <h4>12:00 PM - 12:30 PM</h4>
            <p>Custommer: Janez Novak</p>
            <p>Hairstyle: Striženje</p>
            <button class="remove-button">
                Remove Appointment
            </button>
        </div>
        
    </div>
</div>