
  <a asp-action="Style" CLASS="linkButton ROUNDED absoluteLeft pointer">BACK</a>
<div class="containerIndex rounded">
        <div class="middleTitle ">
            <h2 class="noBackground specialHeadingH">
                OUR BEST AVAILABLE HAIRDRESSERS
            </h2>
        </div>
        <div class="indexItem">
            <img alt="Matevz Haircutter" class="third" src="~/Img/Matevz_Haircutter.webp"/>
            <a asp-action="BookAppointment" class="book-hairdresser">
                Choose this hairdresser
            </a>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/FrenchCrop.jpeg"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/SlickBack.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/MessyHair.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/CombOver.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/CrewCut.jpeg"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/FauxHawk.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/BuzzCut.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/HighAndTight.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/Curtains.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/SidePart.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/BroFlow.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/TexturedFringe.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/Mohawk.jpeg"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>
        <div class="indexItem">
            <img class="third" src="Img/SpikyHair.webp"/>
            <button class="book-appointment-btn">
                Book this style
            </button>
        </div>

    </div>