<a asp-action="BookAppointment" CLASS="linkButton ROUNDED rightAbsoluteTop pointer">Hairdressers</a>
<div class="containerCalendar">
    <div class="calendar">
        <div class="month">
            <i class="fas fa-angle-left prev"><img src="~/Img/left.png"/></i>
            <div class="date">
                <h1></h1>
                <p></p>
            </div>
            <i class="fas fa-angle-right next"><img src="~/Img/right.png"/></i>
        </div>
        <div class="weekdays" >
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>
        </div>
        <div class="days"></div>
    </div>
    <script>
        document.addEventListener("calendarDayClicked", (e) => {
			console.log(e.detail);
            window.location.href = '/User/AvailableOnDay?'+ 'id_haircut=' + @Model.id_haircut + '&day=' + e.detail.day + '&month=' + e.detail.month + '&year=' + e.detail.year;
		});
        document.addEventListener("calendarMonthChanged", (e) => {
            console.log(e.detail);
        });
    </script>
</div>