

@* <div class="backgroundContainerImg"> *@
@* <img class="backgroundImg" src="Img/background3.jpeg"/> *@
<a asp-action="Style" CLASS="rightAbsoluteTop linkButton rounded">BOOK AN APPOINTMENT</a>
    <div class="containerTwo rounded">
        <div class="twoItem itemTwoOne round">
            <h2>Your Upcoming Appointments</h2>
            <div class="upcoming-appointments">
                
            @if (Model == null)
            {
                <br/>
                <h4>You have no upcoming appointments</h4>
                <h5>Make your free reservation today!!</h5>
            }
            else
            {
                @foreach (appointmentEntity appointment in Model.my_recurring_appointments)
                {
                    <form method="post" asp-action="CancelAppointment" asp-route-appointment_id="@appointment.id_appointment">

                        <div class="appointment panel gray">
                            Repeats every 14 days... 
                            Date: @(appointment.appointmentTime.ToString("D") + ", Time: " + appointment.appointmentTime.ToString("t") + " - " + appointment.appointmentTime.AddMinutes(appointment.haircut.duration).ToString("t"))
                            <button type="submit" class="set-appointment-btn rightAbsolute rounded">Cancel Appointment</button>
                        </div>

                    </form>
                }
                <br />
                @foreach (appointmentEntity appointment in Model.my_appointments)
                {
                    <form method="post" asp-action="CancelAppointment" asp-route-appointment_id="@appointment.id_appointment">
                      
                        <div class="appointment panel gray">
                            Date: @(appointment.appointmentTime.ToString("D") + ", Time: " + appointment.appointmentTime.ToString("t") + " - " + appointment.appointmentTime.AddMinutes(appointment.haircut.duration).ToString("t"))
                            <button type="submit" class="set-appointment-btn rightAbsolute rounded">Cancel Appointment</button>
                        </div>
                        
                    </form>
                }
            }

            </div>
        </div>
        <div class="spanTwo"> 
            <img class="autoFill" src="https://t4.ftcdn.net/jpg/02/39/27/23/360_F_239272329_IDoJ8QBFhTGMQU1UF1JlQfDSOmf5jLYs.jpg"/>
        </div>
        
    </div>

    <style>

    </style>
@* </div> *@
