@* <div class="backgroundContainerImg"> *@
@* <img class="backgroundImg" src="Img/background3.jpeg"/> *@
<a asp-action="Style" CLASS="rightAbsoluteTop linkButton rounded">BOOK AN APPOINTMENT</a>
    <div class="containerTwo rounded">
        <div class="twoItem itemTwoOne">
            <h2>Your Upcoming Appointments</h2>
            <div class="upcoming-appointments">
                <div class="appointment panel gray">
                    Date: January 20, 2024, Time: 10:00 AM - 11:00 AM
                    <button class="set-appointment-btn rightAbsolute rounded" onclick="confirm">Cancel Appointment</button>
                </div>
                <div class="appointment panel gray">
                    Date: January 20, 2024, Time: 10:00 AM - 11:00 AM
                    <button class="set-appointment-btn rightAbsolute rounded" onclick="confirm">Cancel Appointment</button>
                </div>
            </div>
        </div>
        <div>
            <img class="autoFill" src="~/Img/sidePic.webp"/>
        </div>
        <div>
            <img class="autoFill" src="~/Img/sidePicTwo.jpeg"/>
        </div>
    </div>
@* </div> *@
