@* <div class="backgroundContainerImg"> *@
@* <img class="backgroundImg" src="Img/background3.jpeg"/> *@
<a asp-action="Style" CLASS="rightAbsoluteTop linkButton rounded">BOOK AN APPOINTMENT</a>
    <div class="containerTwo rounded">
        <div class="twoItem itemTwoOne round">
            <h2>Your Upcoming Appointments</h2>
            <div class="upcoming-appointments">
            @foreach(appointmentEntity appointment in Model)
            {
                    <form method="post" asp-action="CancelAppointment" asp-route-appointment_id="@appointment.id_appointment">
                    <div class="appointment panel gray">
                            Date: @(appointment.appointmentTime.ToString("D") + ", Time: " + appointment.appointmentTime.ToString("t") + " - " + appointment.appointmentTime.AddMinutes(appointment.haircut.duration).ToString("t"))
                                <button type="submit" class="set-appointment-btn rightAbsolute rounded">Cancel Appointment</button>
                    </div>   
                    </form>
            }
            </div>
        </div>
        <div>
            <img class="autoFill" src="~/Img/sidePic.webp"/>
        </div>
        <div>
            <img class="autoFill" src="~/Img/sidePicTwo.jpeg"/>
        </div>
    </div>

    <style>

    </style>
@* </div> *@
