<div class="containerIndex">
    <div class="left-section panel">
        <h2>Upcoming Appointments</h2>
        <div class="upcoming-appointments">
             <div class="appointment panel gray">Date: January 20, 2024, Time: 10:00 AM - 11:00 AM</div> 
        </div>
        <button class="set-appointment-btn">Remove Appointment</button>
    </div>
    <div class="middle-right-section panel">
        <div class="hairdresser-selection">
            <h2>Choose a Hairdresser</h2>
            <select id="hairdresser">
               
              <option value="1">Hairdresser 1</option>
            </select>
        </div>
        <div class="appointments">
          <div class="appointment-card panel gray">
                <h3>Appointment with Hairdresser Name</h3>
                <p>Date: January 20, 2024</p>
                <p>Time: 10:00 AM - 11:00 AM</p>
                <button class="book-appointment-btn">Book Appointment</button>
            </div> 
        </div>
    </div>
</div>