

@* <div class="backgroundContainerImg"> *@
@* <img class="backgroundImg" src="Img/background3.jpeg"/> *@
<a asp-action="Style" CLASS="rightAbsoluteTop linkButton rounded">BOOK AN APPOINTMENT</a>
    <div class="containerTwo rounded">
        <div class="twoItem itemTwoOne round">
            <h2>Your Upcoming Appointments</h2>
            <div class="upcoming-appointments">
                
                @* @if (Model.appointmentEntity == null || Model.appointmentEntity.Count == 0) *@
                @* { *@
                @*     <hr class="half"/> *@
                @*     <h3 class="textCenter">You Have No Appointments Yet</h3> *@
                @*     <hr class="half"/> *@
                @* } *@
                
                @foreach (appointmentEntity appointment in Model)
                {
                    <form method="post" asp-action="CancelAppointment" asp-route-appointment_id="@appointment.id_appointment">
                      
                        <div class="appointment panel gray">
                            Date: @(appointment.appointmentTime.ToString("D") + ", Time: " + appointment.appointmentTime.ToString("t") + " - " + appointment.appointmentTime.AddMinutes(appointment.haircut.duration).ToString("t"))
                            <button type="submit" class="set-appointment-btn rightAbsolute rounded">Cancel Appointment</button>
                        </div>
                        
                    </form>
                }
            </div>
        </div>
        <div class="spanTwo"> 
            <img class="autoFill" src="https://t4.ftcdn.net/jpg/02/39/27/23/360_F_239272329_IDoJ8QBFhTGMQU1UF1JlQfDSOmf5jLYs.jpg"/>
        </div>
        
    </div>

    <style>

    </style>
@* </div> *@
