@* <div class="backgroundContainerImg"> *@
@* <img class="backgroundImg" src="Img/background3.jpeg"/> *@

<a asp-action="Index" CLASS="linkButton ROUNDED rightAbsoluteTop pointer">BACK</a>
<div class="containerIndex rounded">
       
        

        <div class="middleTitle ">
            <h2 class="noBackground specialHeadingH">
                Best styles on the market
            </h2>
        </div>

        @foreach (haircutEntity haircut in Model)
        {
            <div class="indexItem">
            <img alt="@haircut.style" class="third" src="@haircut.image" />
                <a asp-action="Calendar" class="book-hairdresser" asp-route-id_haircut="@haircut.id_haircut">
                    Book this style
                </a>
            </div>
        }

    </div>
@* </div> *@
