

      
 <header class="headerYe">
   <h1 class="inHeaderYe">
       <span class="freeToUse">FREE TO USE</span>
       <div class="middleMargin">MAKE YOUR APPOINTMENT TODAY</div>
       <span class="makeAppointment">BEST MEN'S BARBER SHOP</span>
 
   </h1>
     <a asp-action="LOGIN" CLASS="absoluteRight">LOGIN / REGISTER </a>
    </header>
 
 <div class="main-content">
     <section class="image-text">
         <img src="Img/homePage.png" alt="Background Image">
         <div class="overlay-text">
             <h2>MAKE YOUR <SPAN class="bigText specialHeadingH italic inspace">FREE</SPAN> RESERVATION TODAY!</h2>
             <br/>
             <br/>
             <h3 class="italic"> Offering the Best Trendy Haircuts for MEN by Expert Hairdressers</h3>
             <br/>
             <h3 class="italic">
                 We are located at the address:<span class="specialHeadingH"> Dol pod Gojko 999a</span>
             </h3>
             <br/>
             <br/>
             <br/>
             <h6>CONTACT US AT: BestSalon@gmail.com</h6>
                      
         </div>
     </section>
 </div>
 <div class="main-content2">
      <div class="services"> 
          <div class="service">
              <h2>Modern Cuts</h2>
              <p>Stay in style with our modern haircut designs.</p>
          </div>
          <div class="service">
              <h2>Expert Stylists</h2>
              <p>Our skilled hairdressers are here to serve you.</p>
          </div>
          <div class="service">
              <h2>Trendy Styles</h2>
              <p>Get the latest and trendiest haircuts with us.</p>
          </div>
      </div>
 </div>
 
 
 
 