<div class="main">
    
    <div class="indexGrid">
        <div class="gridItem one round">
            <div class="oneGrid oneOne">
                Hairdresser Salon
            </div>
            <div class="oneGrid oneTwo">
                <img class="image" src="~/Img/hair-dye.png"/>
            </div>
        </div>
        <div class="gridItem two round">
            stranska
        </div>
        <div class="gridItem three round">
            podnaslovna
        </div>
        <div class="gridItem four round">
            podnaslovna
        </div>
    </div>
</div>