@* <div class="mainGridIndex"> *@
@*      *@
@*     <div class="item itemOne"> *@
@*         <img class="ImgFullScreen" src="Storage/ProfilePics/haircutTypes.webp"/> *@
@*     </div> *@
@*     <div class="item itemTwo"> *@
@*          *@
@*     </div> *@
<header>
  <h1 class="specialHeadingH">Welcome to Our Haircut Salon</h1>
  <p class="specialHeadingP">Your destination for stylish and trendy haircuts</p>
</header>

      
<section class="gallery">
  <div class="image-container">
    <img style="width: 85%;" src="Storage/ProfilePics/haircutTypes.webp" alt="Haircut 1">
  </div>
  
  <div class="image-container">
    <p class="specialText">Experience the Elegance of Fresh Haircuts at <strong>OUR SALON</strong></p>
       <img src="Img/low-maintenance-haircuts-for-men.jpg" alt="Haircut 2">
       <p class="specialText">Be the Best Version of You!</p>
  </div>
  <div class="image-container">
    <img src="Img/face-shape.webp" alt="Haircut 3">
  </div>
</section>

      
    @* <div class="indexGrid"> *@
    @*     <div class="gridItem one round"> *@
    @*         <div class="oneGrid oneOne"> *@
    @*             Hairdresser Salon *@
    @*         </div> *@
    @*         <div class="oneGrid oneTwo"> *@
    @*             <img class="image" src="~/Img/hair-dye.png"/> *@
    @*         </div> *@
    @*     </div> *@
    @*     <div class="gridItem two round"> *@
    @*         stranska *@
    @*     </div> *@
    @*     <div class="gridItem three round"> *@
    @*         <img class="ImgFull" src="Storage/ProfilePics/haircutTypes.webp"/> *@
    @*     </div> *@
    @*     <div class="gridItem four round"> *@
    @*         podnaslovna *@
    @*     </div> *@
    @* </div> *@
@* </div> *@