/* _content/maturitetna/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-u0vgyn5yki] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-u0vgyn5yki] {
  color: #0077cc;
}

.btn-primary[b-u0vgyn5yki] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-u0vgyn5yki], .nav-pills .show > .nav-link[b-u0vgyn5yki] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-u0vgyn5yki] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-u0vgyn5yki] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-u0vgyn5yki] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-u0vgyn5yki] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-u0vgyn5yki] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* _content/maturitetna/Views/Shared/_LayoutAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gfk17lo3ls] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gfk17lo3ls] {
  color: #0077cc;
}

.btn-primary[b-gfk17lo3ls] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gfk17lo3ls], .nav-pills .show > .nav-link[b-gfk17lo3ls] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gfk17lo3ls] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gfk17lo3ls] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gfk17lo3ls] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gfk17lo3ls] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gfk17lo3ls] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* _content/maturitetna/Views/Shared/_LayoutHairdresser.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xk20glhv30] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xk20glhv30] {
  color: #0077cc;
}

.btn-primary[b-xk20glhv30] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xk20glhv30], .nav-pills .show > .nav-link[b-xk20glhv30] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xk20glhv30] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xk20glhv30] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xk20glhv30] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xk20glhv30] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xk20glhv30] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

/* _content/maturitetna/Views/Shared/_LayoutUser.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xpknfth68f] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xpknfth68f] {
  color: #0077cc;
}

.btn-primary[b-xpknfth68f] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xpknfth68f], .nav-pills .show > .nav-link[b-xpknfth68f] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xpknfth68f] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xpknfth68f] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xpknfth68f] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xpknfth68f] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xpknfth68f] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

